.footer__links {
  display: flex;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer__links {
    margin: 0;
    flex-direction: column;
    justify-content: space-around;
    max-width: 186px;
    min-height: 310px;
    margin-left: 16px;
  }
}