.footer__copyright {
  margin: 0;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    align-self: flex-start;
    margin-top: 48px;
    margin-left: 16px;
    margin-bottom: 24px;
  }
}
