@import url(./__container/intro__container.css);
@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__list/_number/intro__list_number.css);

.intro {
  margin: 0 auto;
  margin-top: 92px;
  max-width: 984px;
  min-height: 428px;
}

