.place__link {
  color: #fff;
  font-style:  normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  transition: opacity .2s linear;
  opacity: 1;
}

.place__link:hover {
  opacity: .6;
}