.header__container {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  max-height: 52px;
  margin: 0 auto;
  margin-top: 28px;
  padding: 0 48px;
}

@media screen and (max-width: 1279px) {
  .header__container {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .header__container {
    max-width: 720px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    max-width: 288px;
    max-height: 42px;
    margin-top: 16px;
    padding: 0 16px;
  }
}