.lead__caption {
  margin-top: 8px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
}