@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);

.place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px 1fr));
  grid-gap: 48px 40px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(440px 1fr));
    grid-gap: 48px 32px;
    margin-bottom: 84px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(340px 1fr));
    grid-gap: 48px 28px;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
  }
}

