@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
@import url(./__list-item/footer__list-item.css);

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 24px;
  max-width: 1184px;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 928px;
    margin-top: 92px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    max-width: 320px;
    margin-top: 64px;
  }
}