.place__website {
  margin: 0;
  padding: 0;
  align-self: end;
  justify-self: start;
  list-style-type: none;
  grid-row: 1;
  grid-column: 2;
}

@media screen and (max-width: 767px) {
  .place__website {
    display: none;
  }
}